version: '3.7'

services:
    mysql:
        image: mysql:5.7
        restart: always
        container_name: mysql
        environment:
            MYSQL_DATABASE: infnetFoodDB
            MYSQL_ROOT_USE: root
            MYSQL_ROOT_PASSWORD: root
        ports:
            - '3306:3306'
        volumes:
            - ./docker_databases/mysql:/var/lib/mysql
